Repository sgdevcamp2025/bbebig, pull requests merged in 2025-03, with the labels that each got.

#392 [FE] 리프레시토큰을 클라이언트에서 관리합니다. #389
  src/frontend/src/apis/config/interceptor.ts
  src/frontend/src/apis/schema/auth.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/constants/keys.ts
  src/frontend/src/hooks/queries/auth/useLogoutMutation.ts
  src/frontend/src/hooks/queries/auth/useStatusCheckMutation.ts
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/utils/cookie.ts
Labels: fix, frontend

#393 [FE] localstorage에서 관리한 설정 옵션을 제거합니다. #390
  src/frontend/src/stores/use-media-setting.store.ts
Labels: fix, frontend

#394 [FE] 서버, 유저 아바타 이미지 업로드 기능을 추가합니다. #339
  src/frontend/.env.sample
  src/frontend/src/apis/schema/service.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/service/common.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/hooks/queries/user/useUpdateAvatarImage.ts
  src/frontend/src/layouts/main-layout/components/server-create-modal/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
Labels: frontend, feat

#396 [FE] mesh 구조 훅, 커스텀 훅 분리 및 SFU 로직 수정
  src/frontend/src/hooks/use-signaling-with-mesh.ts
  src/frontend/src/hooks/use-signaling-with-sfu.ts
  src/frontend/src/hooks/use-singaling-with-mesh.ts
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/stores/use-user-status-store.ts
  src/frontend/src/stores/use-user-status.ts
Labels: frontend, refactor

#399 [Android] 리팩토링 #381
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/user/intro/IntroNavGraph.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/channelchat/ChannelChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/navigation/HomeNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/IntroScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/navigation/IntroNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/navigation/IntroRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/main/MainActivity.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/SignUpViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/account/InputAccountScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/account/navigation/InputAccountNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/age/InputAgeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/age/navigation/InputAgeNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/email/InputEmailScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/email/navigation/InputEmailNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/nickname/InputNicknameScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/nickname/navigation/InputNicknameNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/LocalDateUtil.kt
Labels: android, feat

#410 [FE] 사용하지 않는 코드, 라이브러리제거 #408
  src/frontend/.env.sample
  src/frontend/.storybook/main.ts
  src/frontend/knip.json
  src/frontend/package.json
  src/frontend/src/apis/schema/auth.ts
  src/frontend/src/apis/schema/types/auth.ts
  src/frontend/src/apis/schema/types/common.ts
  src/frontend/src/apis/schema/types/search.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/apis/schema/user.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/chat-area/index.tsx
  src/frontend/src/components/search-input/search-input.stories.tsx
  src/frontend/src/constants/env.ts
  src/frontend/src/constants/error.ts
  src/frontend/src/constants/keys.ts
  src/frontend/src/hooks/queries/channel/useGetChannelInfo.ts
  src/frontend/src/hooks/queries/search/useGetSingleServerUnreadCount.ts
  src/frontend/src/hooks/use-chatting-stomp.ts
  src/frontend/src/hooks/use-get-media-devices.ts
  src/frontend/src/hooks/use-signaling-with-sfu.ts
  src/frontend/src/layouts/dm-layout/components/menu/friend.tsx
  src/frontend/src/layouts/dm-layout/components/menu/nitro.tsx
  src/frontend/src/layouts/dm-layout/components/menu/shop.tsx
  src/frontend/src/layouts/main-layout/components/server-list/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/InviteModal.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar-skeleton.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/authority-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/general-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/invite-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/link-up-setting.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/user-profile-card.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/friend/components/add-friends.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/my/index.tsx
  src/frontend/src/stores/use-chatting-stomp.ts
  src/frontend/src/stores/use-signaling-socket-store.ts
  src/frontend/src/types/chat-stomp-event.ts
  src/frontend/src/types/common.ts
  src/frontend/src/types/friend.ts
  src/frontend/src/types/message.ts
  src/frontend/src/types/route.ts
  src/frontend/src/types/server.ts
  src/frontend/src/utils/log.ts
  src/frontend/src/utils/webrtc-helper.ts
  src/frontend/yarn.lock
Labels: frontend, refactor

#411 [FE] 이미지 포맷 최적화 작업 #409
  src/frontend/package.json
  src/frontend/public/background/auth.svg
  src/frontend/public/background/landing-art.webp
  src/frontend/public/background/shine-1.webp
  src/frontend/public/background/shine-2.webp
  src/frontend/public/image/common/default-avatar.avif
  src/frontend/public/image/common/default-avatar.png
  src/frontend/public/image/common/default-avatar.webp
  src/frontend/public/image/common/default-background.avif
  src/frontend/public/image/common/default-background.png
  src/frontend/public/image/common/default-background.webp
  src/frontend/public/image/homepage/background-art.png
  src/frontend/public/image/homepage/hero-character.avif
  src/frontend/public/image/homepage/hero-character.png
  src/frontend/script/convert-images.ts
  src/frontend/src/components/avatar-card/index.tsx
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/picture/index.tsx
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/pages/dm/components/dm-area-header.tsx
  src/frontend/src/pages/landing/components/home-hero.tsx
  src/frontend/src/pages/landing/components/video-banner.tsx
  src/frontend/src/pages/landing/index.tsx
  src/frontend/tailwind.config.ts
  src/frontend/tsconfig.json
  src/frontend/yarn.lock
Labels: frontend, refactor

#418 [FE] eslint 설정 추가 세팅 #417
  .github/workflows/fe-code-check.yml
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/src/components/chat-area/index.tsx
  src/frontend/src/components/header-tool-bar/header-tool-bar.stories.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/stores/use-server-unread-store.ts
  src/frontend/src/utils/log.ts
  src/frontend/yarn.lock
Labels: frontend, chore

#422 [FE] msw 모킹 데이터 추가 및 연결 #419
  src/frontend/src/__mock__/data/auth.mock.ts
  src/frontend/src/__mock__/data/search.handler.ts
  src/frontend/src/__mock__/data/service.mock.ts
  src/frontend/src/__mock__/data/user.mock.ts
  src/frontend/src/__mock__/handlers/auth.handler.ts
  src/frontend/src/__mock__/handlers/search.handler.ts
  src/frontend/src/__mock__/handlers/service.handler.ts
  src/frontend/src/__mock__/handlers/user.handler.ts
  src/frontend/src/__mock__/worker.ts
  src/frontend/src/apis/schema/common.ts
  src/frontend/src/apis/schema/types/search.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/libs/msw.tsx
Labels: frontend, test

#425 [FE] msw websocket handler를 추가합니다. #423
  src/frontend/package.json
  src/frontend/src/__mock__/handlers/chatting.handler.ts
  src/frontend/src/__mock__/handlers/signaling.handler.ts
  src/frontend/src/__mock__/worker.ts
  src/frontend/src/hooks/use-singaling.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/libs/msw.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/stores/use-signaling-socket.ts
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, test

#426 [FE] 컴포넌트 테스트를 추가합니다. #421
  src/frontend/package.json
  src/frontend/src/components/auth-input/auth-input.spec.tsx
  src/frontend/src/components/avatar/avatar.spec.tsx
  src/frontend/src/components/check-box/check-box.spec.tsx
  src/frontend/src/components/date-input/dete-input.spec.tsx
  src/frontend/src/components/select-box/index.tsx
  src/frontend/src/components/select-box/select-box.spec.tsx
  src/frontend/src/components/volume-slider/volume-slider.spec.tsx
  src/frontend/src/hooks/use-singaling.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/stores/use-signaling-stomp-store.ts
  src/frontend/src/stores/use-signaling-store.ts
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, test

#424 [BE] 회복성 패턴 적용 기능 구현 #416
  src/backend/common-module/build.gradle
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/global/response/code/error/ErrorStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/global/response/exception/ExceptionAdvice.java
  src/backend/search-server/build.gradle
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/history/service/HistoryService.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/feign/client/ServiceClient.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/feign/client/StateClient.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/feign/fallback/ServiceFallback.java
  src/backend/search-server/src/main/resources/application.yml
  src/backend/service-server/build.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/client/MemberClient.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/client/SearchClient.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/client/StateClient.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/fallback/MemberFallback.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/fallback/SearchFallback.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/feign/fallback/StateFallback.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
  src/backend/service-server/src/main/resources/application.yml
  src/backend/state-server/build.gradle
  src/backend/state-server/src/main/java/com/bbebig/stateserver/global/feign/client/MemberClient.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/global/feign/client/ServiceClient.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/global/feign/fallback/MemberFallback.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/global/feign/fallback/ServiceFallback.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ConnectionEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/StateService.java
  src/backend/state-server/src/main/resources/application.yml
Labels: backend, refactor
