Repository sgdevcamp2025/bbebig, pull requests merged in 2025-01, with the labels that each got.

#5 [BE] 프로젝트 초기 세팅 #1
  src/backend/push-server/.gitattributes
  src/backend/push-server/.gitignore
  src/backend/push-server/build.gradle
  src/backend/push-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/push-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/push-server/gradlew
  src/backend/push-server/gradlew.bat
  src/backend/push-server/settings.gradle
  src/backend/push-server/src/main/java/com/bbebig/push_server/PushServerApplication.java
  src/backend/push-server/src/main/resources/application.yml
  src/backend/push-server/src/test/java/com/bbebig/push_server/PushServerApplicationTests.java
Labels: backend

#17 [BE] 유저 가상 서버 구현 #13
  src/backend/auth-server/eslint.config.js
  src/backend/auth-server/jest.config.cjs
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/tsconfig.json
  src/backend/auth-server/yarn.lock
Labels: backend

#14 [FE] 프로젝트 세팅 #2
  .gitignore
  src/frontend/.eslintrc.js
  src/frontend/.gitignore
  src/frontend/.npmrc
  src/frontend/README.md
  src/frontend/apps/web/.eslintrc.cjs
  src/frontend/apps/web/index.html
  src/frontend/apps/web/main.tsx
  src/frontend/apps/web/package.json
  src/frontend/apps/web/postcss.config.cjs
  src/frontend/apps/web/public/typescript.svg
  src/frontend/apps/web/public/vite.svg
  src/frontend/apps/web/src/App.tsx
  src/frontend/apps/web/src/globals.css
  src/frontend/apps/web/src/lintTes.ts
  src/frontend/apps/web/src/vite-env.d.ts
  src/frontend/apps/web/tailwind.config.ts
  src/frontend/apps/web/tsconfig.json
  src/frontend/apps/web/vite.config.ts
  src/frontend/package.json
  src/frontend/packages/eslint-config/eslint.config.js
  src/frontend/packages/eslint-config/index.js
  src/frontend/packages/eslint-config/package.json
  src/frontend/packages/prettier-config/prettier.config.js
  src/frontend/packages/tailwind-config/package.json
  src/frontend/packages/tailwind-config/tailwind.config.ts
  src/frontend/packages/tailwind-config/tsconfig.json
  src/frontend/packages/typescript-config/base.json
  src/frontend/packages/typescript-config/package.json
  src/frontend/packages/typescript-config/react-library.json
  src/frontend/packages/typescript-config/vite.json
  src/frontend/packages/ui/.eslintignore
  src/frontend/packages/ui/.eslintrc.js
  src/frontend/packages/ui/components/counter.tsx
  src/frontend/packages/ui/components/header.tsx
  src/frontend/packages/ui/index.ts
  src/frontend/packages/ui/package.json
  src/frontend/packages/ui/postcss.config.js
  src/frontend/packages/ui/styles.css
  src/frontend/packages/ui/tailwind.config.ts
  src/frontend/packages/ui/tsconfig.json
  src/frontend/packages/ui/utils/counter.ts
  src/frontend/pnpm-lock.yaml
  src/frontend/pnpm-workspace.yaml
  src/frontend/turbo.json
Labels: frontend

#22 [BE] apigateway-server 초기 세팅 #19
  src/backend/.gitkeep
  src/backend/apigateway-server/.gitattributes
  src/backend/apigateway-server/.gitignore
  src/backend/apigateway-server/build.gradle
  src/backend/apigateway-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/apigateway-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/apigateway-server/gradlew
  src/backend/apigateway-server/gradlew.bat
  src/backend/apigateway-server/settings.gradle
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/ApigatewayServerApplication.java
  src/backend/apigateway-server/src/main/resources/application.yml
  src/backend/apigateway-server/src/test/java/com/bbebig/apigatewayserver/ApigatewayServerApplicationTests.java
Labels: backend, chore

#21 [BE] 인증 서버 구현 (Redis 제외) #18
  src/backend/auth-server/.env.sample
  src/backend/auth-server/docs/databases.md
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/prisma/schema.prisma
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/db.ts
  src/backend/auth-server/src/libs/errorHelper.ts
  src/backend/auth-server/src/libs/timeHelper.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/routes/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
  src/backend/auth-server/yarn.lock
Labels: backend, feat

#27 [BE] discovery-server 및 apigateway 서버 초기 세팅
  src/backend/apigateway-server/.gitattributes
  src/backend/apigateway-server/.gitignore
  src/backend/apigateway-server/build.gradle
  src/backend/apigateway-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/apigateway-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/apigateway-server/gradlew
  src/backend/apigateway-server/gradlew.bat
  src/backend/apigateway-server/settings.gradle
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/ApigatewayServerApplication.java
  src/backend/apigateway-server/src/main/resources/application.yml
  src/backend/apigateway-server/src/test/java/com/bbebig/apigatewayserver/ApigatewayServerApplicationTests.java
  src/backend/discovery-server/.gitattributes
  src/backend/discovery-server/.gitignore
  src/backend/discovery-server/build.gradle
  src/backend/discovery-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/discovery-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/discovery-server/gradlew
  src/backend/discovery-server/gradlew.bat
  src/backend/discovery-server/settings.gradle
  src/backend/discovery-server/src/main/java/com/bbebig/discoveryserver/DiscoveryServerApplication.java
  src/backend/discovery-server/src/main/resources/application.yml
  src/backend/discovery-server/src/test/java/com/bbebig/discoveryserver/DiscoveryServerApplicationTests.java
Labels: backend, chore

#28 [Android] 로그인 화면 디자인 #7
  src/android/bbebig-discod-clone/gradle/libs.versions.toml
  src/android/bbebig-discod-clone/presentation/build.gradle.kts
  src/android/bbebig-discod-clone/presentation/src/main/AndroidManifest.xml
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/base/BaseViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/base/UiIntent.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/base/UiSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/base/UiState.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordRoundButton.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTextField.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTopBar.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/model/UserInfo.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/DiscordRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/UserNavHost.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/UserRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/intro/IntroNavGraph.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/login/LoginNavGraph.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/theme/Color.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/theme/Theme.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/theme/Type.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/IntroScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/IntroViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/intent/IntroIntent.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/model/IntroUiState.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/navigation/IntroNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/navigation/IntroRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/sideeffect/IntroSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/intent/LoginIntent.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/model/LoginUiState.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/model/UserAccount.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/navigation/LoginNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/navigation/LoginRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/sideeffect/LoginSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/main/MainActivity.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/theme/Color.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/ModifierExt.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/StableImage.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_back.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android

#29 [BE] 인증 서버 구현 완료 #23
  src/backend/auth-server/.env.sample
  src/backend/auth-server/.nvmrc
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/plugin/authPlugin.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
  src/backend/auth-server/yarn.lock
Labels: backend, feat

#33 [BE] chat 서버 초기 세팅
  src/backend/chat-server/.gitattributes
  src/backend/chat-server/.gitignore
  src/backend/chat-server/build.gradle
  src/backend/chat-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/chat-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/chat-server/gradlew
  src/backend/chat-server/gradlew.bat
  src/backend/chat-server/settings.gradle
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/ChatServerApplication.java
  src/backend/chat-server/src/main/resources/application.properties
  src/backend/chat-server/src/test/java/com/bbebig/chatserver/ChatServerApplicationTests.java
Labels: backend, chore

#30 [BE] 유저 서버 세팅 및 유저 조회, 수정 API 예시 코드 작성
  src/backend/user-server/.gitattributes
  src/backend/user-server/.gitignore
  src/backend/user-server/build.gradle
  src/backend/user-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/user-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/user-server/gradlew
  src/backend/user-server/gradlew.bat
  src/backend/user-server/settings.gradle
  src/backend/user-server/src/main/java/com/bbebig/user_server/UserServerApplication.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/application/MemberService.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/CustomPresenceStatus.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/Friend.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/Member.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/MemberRepository.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/MemberController.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/MemberModifyRequest.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/MemberSearchResponse.java
  src/backend/user-server/src/main/resources/application.yml
  src/backend/user-server/src/test/java/com/bbebig/user_server/MemberServerApplicationTests.java
  src/backend/user-server/src/test/user.http
Labels: backend, feat, chore

#39 [BE] 인증 서버 도커 세팅추가
  src/backend/auth-server/.env.development
  src/backend/auth-server/.env.sample
  src/backend/auth-server/.gitignore
  src/backend/auth-server/Dockerfile
  src/backend/auth-server/README.md
  src/backend/auth-server/docker-compose.yml
  src/backend/auth-server/dockerignore
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/prisma/bbebig.sql
  src/backend/auth-server/prisma/schema.prisma
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/plugin/authPlugin.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/service/authService.ts
  src/backend/auth-server/tsconfig.json
  src/backend/auth-server/yarn.lock
Labels: backend, chore

#36 [BE] 서비스 서버 초기 세팅
  src/backend/service-server/.gitattributes
  src/backend/service-server/.gitignore
  src/backend/service-server/build.gradle
  src/backend/service-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/service-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/service-server/gradlew
  src/backend/service-server/gradlew.bat
  src/backend/service-server/settings.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/ServiceServerApplication.java
  src/backend/service-server/src/main/resources/application.properties
  src/backend/service-server/src/test/java/com/bbebig/serviceserver/ServiceServerApplicationTests.java
Labels: backend, chore

#42 [BE] 인증서버 변경된 api 명세서를 반영합니다.
  src/backend/auth-server/.dockerignore
  src/backend/auth-server/.env.development
  src/backend/auth-server/README.md
  src/backend/auth-server/main.ts
  src/backend/auth-server/prisma/bbebig.sql
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/controllers/index.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/errorHelper.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/routes/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
Labels: backend, refactor

#46 [FE] 프론트엔드 초기세팅 변경 #44
  src/frontend/.editorconfig
  src/frontend/.gitignore
  src/frontend/.nvmrc
  src/frontend/.prettierrc
  src/frontend/.storybook/main.ts
  src/frontend/.storybook/preview.ts
  src/frontend/.yarn/releases/yarn-4.6.0.cjs
  src/frontend/.yarnrc.yml
  src/frontend/README.md
  src/frontend/eslint.config.js
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/postcss.config.cjs
  src/frontend/public/vite.svg
  src/frontend/src/__test__/sum.test.ts
  src/frontend/src/apis/.gitkeep
  src/frontend/src/assets/react.svg
  src/frontend/src/components/custom-button/custom-button.stories.tsx
  src/frontend/src/components/custom-button/index.tsx
  src/frontend/src/components/custom-button/variants.ts
  src/frontend/src/constants/.gitkeep
  src/frontend/src/hooks/.gitkeep
  src/frontend/src/libs/.gitkeep
  src/frontend/src/main.tsx
  src/frontend/src/pages/.gitkeep
  src/frontend/src/routes/index.tsx
  src/frontend/src/store/.gitkeep
  src/frontend/src/styles/globals.css
  src/frontend/src/types/.gitkeep
  src/frontend/src/utils/cn.ts
  src/frontend/src/vite-env.d.ts
  src/frontend/tailwind.config.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, chore

#49 [BE] WebRTC 구현 #16
  src/backend/.gitkeep
  src/backend/signaling-server/.gitattributes
  src/backend/signaling-server/.gitignore
  src/backend/signaling-server/build.gradle
  src/backend/signaling-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/signaling-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/signaling-server/gradlew
  src/backend/signaling-server/gradlew.bat
  src/backend/signaling-server/settings.gradle
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/SignalingServerApplication.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/DirectSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/GroupSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/MessageType.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/Path.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/SignalMessage.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/config/WebSocketConfig.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/ApiResponse.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/BaseErrorCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/BaseCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/ReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/SuccessStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseExceptionType.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ErrorHandler.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ExceptionAdvice.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/GeneralException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/direct/DirectSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/ChannelManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/KurentoManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/GroupSignalStrategy.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/MeshGroupSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/SfuGroupSignalService.java
  src/backend/signaling-server/src/main/resources/application.properties
  src/backend/signaling-server/src/test/java/com/bbebig/signalingserver/SignalingServerApplicationTests.java
Labels: backend, feat

#50 [BE] 채팅 서버 웹소켓 연결 구현 #37
  src/backend/chat-server/DockerFile
  src/backend/chat-server/build.gradle
  src/backend/chat-server/docker-compose-db.yml
  src/backend/chat-server/docker-compose-kafka-local.yml
  src/backend/chat-server/docker-compose-kafka.yml
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/ChatServerApplication.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/client/AuthClient.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/client/MemberClient.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/controller/ChatController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ChatFileDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ChatMessageDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ConnectionEventDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/response/AuthResponseDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/response/MemberResponseDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/KafkaChatConsumerConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/KafkaProducerConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/RedisConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/WebSocketConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/ApiResponse.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/BaseErrorCode.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/ErrorStatus.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/BaseCode.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/ReasonDTO.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/SuccessStatus.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/BaseException.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/BaseExceptionType.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/ErrorHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/ExceptionAdvice.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/GeneralException.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/handler/StompErrorHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/handler/StompHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/model/ChannelType.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/repository/RedisSessionManager.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/service/MessageProducerService.java
  src/backend/chat-server/src/main/resources/application.properties
  src/backend/chat-server/src/main/resources/application.yml
Labels: backend, feat

#54 [BE] 상태서버 초기 세팅 #53
  src/backend/state-server/.gitattributes
  src/backend/state-server/.gitignore
  src/backend/state-server/build.gradle
  src/backend/state-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/state-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/state-server/gradlew
  src/backend/state-server/gradlew.bat
  src/backend/state-server/settings.gradle
  src/backend/state-server/src/main/java/com/bbebig/stateserver/StateServerApplication.java
  src/backend/state-server/src/main/resources/application.yml
  src/backend/state-server/src/test/java/com/bbebig/stateserver/StateServerApplicationTests.java
Labels: backend, chore

#52 [BE] 검색서버 초기 세팅 #51
  src/backend/search-server/.gitattributes
  src/backend/search-server/.gitignore
  src/backend/search-server/build.gradle
  src/backend/search-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/search-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/search-server/gradlew
  src/backend/search-server/gradlew.bat
  src/backend/search-server/settings.gradle
  src/backend/search-server/src/main/java/com/bbebig/searchserver/SearchServerApplication.java
  src/backend/search-server/src/main/resources/application.properties
  src/backend/search-server/src/test/java/com/bbebig/searchserver/SearchServerApplicationTests.java
Labels: backend, chore

#58 [BE] 채팅 서버 이름 변경 #37
  src/backend/chat-server/src/main/resources/application.yml
Labels: backend, chore

#59 [BE] 상태 서버 설정 변경
  src/backend/state-server/src/main/resources/application.yml
Labels: backend, chore

#62 [BE] 서비스 서버 엔티티 세팅 및 DB 연결 #56
  src/backend/service-server/.gitignore
  src/backend/service-server/build.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/ServiceServerApplication.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/category/entity/Category.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/Channel.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/ChannelMember.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/Type.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/common/BaseTimeEntity.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/Role.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/Server.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/ServerMember.java
  src/backend/service-server/src/main/resources/application.properties
  src/backend/service-server/src/main/resources/application.yml
Labels: backend, feat, chore

#55 [FE] 렌딩 페이지 구현완료 #47
  src/frontend/.editorconfig
  src/frontend/.prettierrc
  src/frontend/package.json
  src/frontend/src/assets/image/homepage/background-art.png
  src/frontend/src/assets/image/homepage/background-shine-1.webp
  src/frontend/src/assets/image/homepage/background-shine-2.webp
  src/frontend/src/assets/image/homepage/hero-character.webp
  src/frontend/src/layouts/ladning.tsx
  src/frontend/src/libs/.gitkeep
  src/frontend/src/libs/deviceHelper.ts
  src/frontend/src/pages/.gitkeep
  src/frontend/src/pages/landing/components/footer.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/landing/components/home-hero.tsx
  src/frontend/src/pages/landing/components/video-banner.tsx
  src/frontend/src/pages/landing/index.tsx
  src/frontend/src/routes/index.tsx
  src/frontend/src/styles/globals.css
  src/frontend/src/types/index.d.ts
  src/frontend/tailwind.config.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#66 [BE] 인증 서버 메인으로 병합
  src/backend/auth-server/.dockerignore
  src/backend/auth-server/.env.sample
  src/backend/auth-server/.gitignore
  src/backend/auth-server/.nvmrc
  src/backend/auth-server/.prettierrc
  src/backend/auth-server/Dockerfile
  src/backend/auth-server/README.md
  src/backend/auth-server/docker-compose.yml
  src/backend/auth-server/docs/databases.md
  src/backend/auth-server/eslint.config.js
  src/backend/auth-server/jest.config.cjs
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/prisma/schema.prisma
  src/backend/auth-server/src/__tests__/sum.test.ts
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/controllers/index.ts
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/db.ts
  src/backend/auth-server/src/libs/errorHelper.ts
  src/backend/auth-server/src/libs/timeHelper.ts
  src/backend/auth-server/src/plugin/authPlugin.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/routes/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
  src/backend/auth-server/tsconfig.json
  src/backend/auth-server/yarn.lock
Labels: ci, backend

#65 [BE] 시그널링 서버 메인으로 병합
  src/backend/.gitkeep
  src/backend/signaling-server/.gitattributes
  src/backend/signaling-server/.gitignore
  src/backend/signaling-server/build.gradle
  src/backend/signaling-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/signaling-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/signaling-server/gradlew
  src/backend/signaling-server/gradlew.bat
  src/backend/signaling-server/settings.gradle
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/SignalingServerApplication.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/DirectSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/GroupSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/MessageType.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/Path.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/SignalMessage.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/config/WebSocketConfig.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/ApiResponse.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/BaseErrorCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/BaseCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/ReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/SuccessStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseExceptionType.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ErrorHandler.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ExceptionAdvice.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/GeneralException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/direct/DirectSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/ChannelManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/KurentoManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/GroupSignalStrategy.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/MeshGroupSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/SfuGroupSignalService.java
  src/backend/signaling-server/src/main/resources/application.properties
  src/backend/signaling-server/src/test/java/com/bbebig/signalingserver/SignalingServerApplicationTests.java
Labels: ci, backend

#64 [BE] 서비스 서버 메인으로 병합
  src/backend/service-server/.gitattributes
  src/backend/service-server/.gitignore
  src/backend/service-server/build.gradle
  src/backend/service-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/service-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/service-server/gradlew
  src/backend/service-server/gradlew.bat
  src/backend/service-server/settings.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/ServiceServerApplication.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/category/entity/Category.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/Channel.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/ChannelMember.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/entity/Type.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/common/BaseTimeEntity.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/Role.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/Server.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/ServerMember.java
  src/backend/service-server/src/main/resources/application.yml
  src/backend/service-server/src/test/java/com/bbebig/serviceserver/ServiceServerApplicationTests.java
Labels: ci, backend

#63 [BE] 상태 서버 메인으로 병합
  src/backend/state-server/.gitattributes
  src/backend/state-server/.gitignore
  src/backend/state-server/build.gradle
  src/backend/state-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/state-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/state-server/gradlew
  src/backend/state-server/gradlew.bat
  src/backend/state-server/settings.gradle
  src/backend/state-server/src/main/java/com/bbebig/stateserver/StateServerApplication.java
  src/backend/state-server/src/main/resources/application.yml
  src/backend/state-server/src/test/java/com/bbebig/stateserver/StateServerApplicationTests.java
Labels: ci, backend

#61 [BE] 검색 서버 메인으로 병합
  src/backend/search-server/.gitattributes
  src/backend/search-server/.gitignore
  src/backend/search-server/build.gradle
  src/backend/search-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/search-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/search-server/gradlew
  src/backend/search-server/gradlew.bat
  src/backend/search-server/settings.gradle
  src/backend/search-server/src/main/java/com/bbebig/searchserver/SearchServerApplication.java
  src/backend/search-server/src/main/resources/application.properties
  src/backend/search-server/src/main/resources/application.yml
  src/backend/search-server/src/test/java/com/bbebig/searchserver/SearchServerApplicationTests.java
Labels: ci, backend

#60 [BE] 채팅 서버 메인으로 병합
  src/backend/chat-server/.gitattributes
  src/backend/chat-server/.gitignore
  src/backend/chat-server/DockerFile
  src/backend/chat-server/build.gradle
  src/backend/chat-server/docker-compose-db.yml
  src/backend/chat-server/docker-compose-kafka-local.yml
  src/backend/chat-server/docker-compose-kafka.yml
  src/backend/chat-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/chat-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/chat-server/gradlew
  src/backend/chat-server/gradlew.bat
  src/backend/chat-server/settings.gradle
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/ChatServerApplication.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/client/AuthClient.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/client/MemberClient.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/controller/ChatController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ChatFileDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ChatMessageDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/ConnectionEventDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/response/AuthResponseDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/dto/response/MemberResponseDto.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/KafkaChatConsumerConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/KafkaProducerConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/RedisConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/config/WebSocketConfig.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/ApiResponse.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/BaseErrorCode.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/error/ErrorStatus.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/BaseCode.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/ReasonDTO.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/code/success/SuccessStatus.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/BaseException.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/BaseExceptionType.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/ErrorHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/ExceptionAdvice.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/global/response/exception/GeneralException.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/handler/StompErrorHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/handler/StompHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/model/ChannelType.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/repository/RedisSessionManager.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/service/MessageProducerService.java
  src/backend/chat-server/src/main/resources/application.yml
  src/backend/chat-server/src/test/java/com/bbebig/chatserver/ChatServerApplicationTests.java
Labels: ci, backend

#67 [BE] 푸시 서버 메인으로 병합
  src/backend/push-server/.gitattributes
  src/backend/push-server/.gitignore
  src/backend/push-server/build.gradle
  src/backend/push-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/push-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/push-server/gradlew
  src/backend/push-server/gradlew.bat
  src/backend/push-server/settings.gradle
  src/backend/push-server/src/main/java/com/bbebig/push_server/PushServerApplication.java
  src/backend/push-server/src/main/resources/application.yml
  src/backend/push-server/src/test/java/com/bbebig/push_server/PushServerApplicationTests.java
Labels: ci, backend

#68 [BE] 친구 관련 기능 구현
  src/backend/user-server/src/main/java/com/bbebig/user_server/application/FriendService.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/Friend.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/FriendRepository.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/FriendStatus.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/FriendController.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendCreateRequest.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendCreateResponse.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendResponse.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/PageRequestDto.java
Labels: backend, feat

#69 [BE] 유저 서버 메인으로 병합
  src/backend/user-server/.gitattributes
  src/backend/user-server/.gitignore
  src/backend/user-server/build.gradle
  src/backend/user-server/gradle/wrapper/gradle-wrapper.jar
  src/backend/user-server/gradle/wrapper/gradle-wrapper.properties
  src/backend/user-server/gradlew
  src/backend/user-server/gradlew.bat
  src/backend/user-server/settings.gradle
  src/backend/user-server/src/main/java/com/bbebig/user_server/UserServerApplication.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/application/FriendService.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/application/MemberService.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/CustomPresenceStatus.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/Friend.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/FriendRepository.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/FriendStatus.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/Member.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/domain/MemberRepository.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/FriendController.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/MemberController.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendCreateRequest.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendCreateResponse.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/FriendResponse.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/MemberModifyRequest.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/MemberSearchResponse.java
  src/backend/user-server/src/main/java/com/bbebig/user_server/presentation/dto/PageRequestDto.java
  src/backend/user-server/src/main/resources/application.yml
  src/backend/user-server/src/test/java/com/bbebig/user_server/MemberServerApplicationTests.java
  src/backend/user-server/src/test/user.http
Labels: ci, backend

#77 [BE] 서비스 서버 Server Entity CRUD #75
  src/backend/service-server/build.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/config/SwaggerConfig.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/CommonResponse.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/error/BaseErrorCode.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/error/ErrorStatus.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/success/BaseCode.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/success/ReasonDTO.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/code/success/SuccessStatus.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/exception/BaseException.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/exception/BaseExceptionType.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/exception/ErrorHandler.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/exception/ExceptionAdvice.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/response/exception/GeneralException.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/controller/ServerController.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerCreateRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerDeleteRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerImageUpdateRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerNameUpdateRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerReadRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerCreateResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerDeleteResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerImageUpdateResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerNameUpdateResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerReadResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/Server.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/repository/ServerRepository.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
  src/backend/service-server/src/main/resources/application.yml
Labels: backend, feat, chore

#79 [Android] 홈 화면 레이아웃 구현 #72
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordRoundButton.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/model/SampleDummyModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/StableImage.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_dropdown_menu.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_msg.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_plus.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_search.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#80 [Android] 개인 메시지 화면 레이아웃 구현 #73
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordEmptyTitleContainer.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordRoundButton.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/model/ServerType.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#88 [Android] 서버 참여 화면 구현 #86
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordInputContainer.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTitleContainer.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTopBar.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/serverjoin/ServerJoinScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#92 [Android] 친구 추가 화면 구현 #91
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/addfriend/AddFriendScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#94 [Android] 서버 만들기 화면 구현 #93
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/createserver/CreateServerScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#89 [BE] 인증서버 추가 기능 구현 #74
  src/backend/auth-server/main.ts
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/responseHelper.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/type/index.ts
  src/backend/auth-server/src/service/authService.ts
Labels: backend, refactor, feat

#96 [FE] 회원가입/로그인 기능 구현 #95
  src/frontend/package.json
  src/frontend/src/apis/.gitkeep
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/schema/auth.ts
  src/frontend/src/apis/schema/common.ts
  src/frontend/src/apis/schema/types/auth.ts
  src/frontend/src/apis/schema/types/common.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/auth-input/index.tsx
  src/frontend/src/components/date-input/index.tsx
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/libs/device-helper.ts
  src/frontend/src/libs/discord-assets-path.ts
  src/frontend/src/pages/landing/components/footer.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/landing/components/home-hero.tsx
  src/frontend/src/pages/landing/index.tsx
  src/frontend/src/pages/login/index.tsx
  src/frontend/src/pages/register/index.tsx
  src/frontend/yarn.lock
Labels: frontend, feat

#106 [Android] 채널 채팅 화면 구현 #83
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTextField.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTopBar.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordUserChatBox.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/channelchat/ChannelChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/ModifierExt.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_meg_send.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_search.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#101 [FE] 서비스 내부 레이아웃을 구현합니다. #97
  src/frontend/.env.sample
  src/frontend/.gitignore
  src/frontend/public/image/auth/background.svg
  src/frontend/public/image/common/logo.svg
  src/frontend/public/image/homepage/background-art.png
  src/frontend/public/image/homepage/background-shine-1.webp
  src/frontend/public/image/homepage/background-shine-2.webp
  src/frontend/public/image/homepage/hero-character.webp
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/schema/auth.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/assets/react.svg
  src/frontend/src/components/server-icon/index.tsx
  src/frontend/src/components/server-icon/server-icon.stories.tsx
  src/frontend/src/constants/.gitkeep
  src/frontend/src/constants/env.ts
  src/frontend/src/layouts/main-root.tsx
  src/frontend/src/layouts/private.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/login/index.tsx
  src/frontend/src/pages/my/index.tsx
  src/frontend/src/routes/index.tsx
  src/frontend/src/store/.gitkeep
  src/frontend/src/store/auth/AuthContext.ts
  src/frontend/src/store/auth/AuthProvider.tsx
  src/frontend/src/types/.gitkeep
  src/frontend/src/types/index.d.ts
  src/frontend/tailwind.config.ts
Labels: frontend, feat

#102 [BE] 인증서버 에러메시지 형식 반영 및 복호화 엔드포인트 추가 #100
  src/backend/auth-server/.env.sample
  src/backend/auth-server/main.ts
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/errorHelper.ts
  src/backend/auth-server/src/libs/rateLimit.ts
  src/backend/auth-server/src/libs/redis.ts
  src/backend/auth-server/src/libs/responseHelper.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
Labels: backend, refactor, feat

#111 [Android] 음성,영상 채팅 화면 구현 #82
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/livechat/LiveChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_disconnect.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_microphone.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_microphone_muted.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_settings.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_sound.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_sound_muted.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_speaker.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_speaker_muted.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_switch_camera.png
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_video.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_video_disabled.xml
Labels: android, feat

#115 [FE] 라우터 구조 및, 토큰 관리방법 변경
  src/frontend/.gitignore
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/react-router.config.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/custom-button/index.tsx
  src/frontend/src/components/select-box/index.tsx
  src/frontend/src/components/server-icon/index.tsx
  src/frontend/src/constants/discord-assets-path.ts
  src/frontend/src/constants/keys.ts
  src/frontend/src/hooks/use-click-outside.ts
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/layouts/main-root.tsx
  src/frontend/src/layouts/private.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/libs/cn.ts
  src/frontend/src/libs/device-helper.ts
  src/frontend/src/main.tsx
  src/frontend/src/pages/auth/login.tsx
  src/frontend/src/pages/auth/register.tsx
  src/frontend/src/pages/landing/components/footer.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/landing/components/home-hero.tsx
  src/frontend/src/pages/landing/index.tsx
  src/frontend/src/root.tsx
  src/frontend/src/routes.ts
  src/frontend/src/routes/index.tsx
  src/frontend/src/store/auth/AuthContext.ts
  src/frontend/src/store/auth/AuthProvider.tsx
  src/frontend/src/stores/use-login-store.ts
  src/frontend/src/types/route.ts
  src/frontend/src/utils/cookie.ts
  src/frontend/src/utils/device-helper.ts
  src/frontend/tailwind.config.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#117 [Android] 검색 화면 구현 #112
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/livechat/LiveChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/search/SearchScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/search/component/SearchTextField.kt
Labels: android, feat

#123 [BE] Docker 환경 설정 및 빌드 프로세스 개선 #90
  src/backend/auth-server/.env.sample
  src/backend/auth-server/README.md
  src/backend/auth-server/docker-compose.yml
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/redis.ts
  src/backend/auth-server/src/routes/auth/index.ts
Labels: fix, backend

#122 [BE] 검색 서버 기능 구현 #107
  src/backend/search-server/.env
  src/backend/search-server/build.gradle
  src/backend/search-server/docker-compose-elastic.yml
  src/backend/search-server/src/main/java/com/bbebig/searchserver/SearchServerApplication.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/controller/SearchController.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/domain/ChannelChatMessage.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/domain/ChannelChatMessageElastic.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/domain/DmChatMessage.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/domain/DmChatMessageElastic.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/dto/ChatMessageDtoConverter.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/dto/SearchOption.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/dto/SearchRequestDto.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/repository/ChannelChatMessageElasticRepository.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/repository/ChannelChatMessageRepository.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/repository/DmChatMessageElasticRepository.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/repository/DmChatMessageRepository.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/service/ChatMessageService.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/service/MessageEventConsumerService.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/service/SearchService.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/config/ElasticsearchConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/config/MongoDBConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/config/DotenvConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/config/KafkaChannelChatEventConsumerConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/config/KafkaDmChatEventConsumerConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/dto/ChatFileDto.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/dto/ChatMessageDto.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/model/ChannelType.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/global/kafka/model/MessageType.java
  src/backend/search-server/src/main/resources/application.properties
  src/backend/search-server/src/main/resources/application.yml
Labels: backend, feat
