Repository sgdevcamp2025/bbebig, pull requests merged in 2025-02, with the labels that each got.

#130 [FE] 스토리북이 실행이 안되는 버그 수정 #129
  src/frontend/.storybook/main.ts
  src/frontend/public/image/common/default-avatar.png
  src/frontend/src/components/avatar/avatar.stories.tsx
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/layouts/main-root.tsx
  src/frontend/src/types/user.ts
  src/frontend/storybook-with-vite.config.ts
  src/frontend/tailwind.config.ts
Labels: fix, frontend

#132 [BE] push-server 배포 스크립트 추가 #131
  .github/workflows/push-server-ci.yml
  src/backend/push-server/Dockerfile
  src/backend/push-server/build.gradle
  src/backend/push-server/settings.gradle
Labels: ci, backend, cd

#134 [BE] 유저 서버 메인으로 병합
  .github/workflows/user-server-ci.yml
  src/backend/user-server/Dockerfile
  src/backend/user-server/build.gradle
  src/backend/user-server/settings.gradle
Labels: backend

#136 [BE] 검색 서버 메인으로 병합
  .github/workflows/search-server-ci.yml
  src/backend/search-server/.gitignore
  src/backend/search-server/Dockerfile
  src/backend/search-server/build.gradle
  src/backend/search-server/settings.gradle
Labels: backend

#124 [FE] 채널 Side bar 구현 #109
  src/frontend/src/components/side-bar/index.tsx
  src/frontend/src/components/side-bar/side-bar.stories.tsx
  src/frontend/src/layouts/dm-layout.tsx
  src/frontend/src/layouts/main-root.tsx
  src/frontend/src/layouts/server-layout.tsx
  src/frontend/src/routes.ts
  src/frontend/src/types/channel.ts
  src/frontend/tailwind.config.ts
Labels: frontend, feat

#142 [FE] 공용 컴포넌트 아바타를 구현합니다.
  src/frontend/.storybook/preview.tsx
  src/frontend/package.json
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/components/avatar/avatar.stories.tsx
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/status-icon/index.tsx
  src/frontend/src/components/status-icon/status-icon.stories.tsx
  src/frontend/storybook-with-vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#146 [BE] 인증 서버 메인으로 병합
  .github/workflows/auth-server-ci.yml
  src/backend/auth-server/.env.sample
  src/backend/auth-server/Dockerfile
  src/backend/auth-server/README.md
  src/backend/auth-server/docker-compose.yml
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/errorHelper.ts
  src/backend/auth-server/src/libs/rateLimit.ts
  src/backend/auth-server/src/libs/redis.ts
  src/backend/auth-server/src/libs/responseHelper.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/schema/type/index.ts
  src/backend/auth-server/src/service/authService.ts
Labels: backend

#147 [FE] 채팅 UI 구현
  src/frontend/public/image/channel/type-text.svg
  src/frontend/public/image/channel/type-voice.svg
  src/frontend/public/image/chat/emoji.svg
  src/frontend/public/image/chat/gif.svg
  src/frontend/public/image/chat/gift.svg
  src/frontend/public/image/chat/plus.svg
  src/frontend/public/image/chat/send.svg
  src/frontend/public/image/chat/sticker.svg
  src/frontend/src/components/side-bar/side-bar.stories.tsx
  src/frontend/src/layouts/dm-layout/components/dm-side-bar/dm-side-bar.stories.tsx
  src/frontend/src/layouts/dm-layout/components/dm-side-bar/index.tsx
  src/frontend/src/layouts/dm-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/routes.ts
  src/frontend/src/types/message.ts
  src/frontend/src/utils/format-time.ts
Labels: frontend, feat

#150 [FE] Profile Card를 구현합니다. #149
  src/frontend/public/icon/menu/edit-profile.svg
  src/frontend/public/icon/menu/microphone-muted.svg
  src/frontend/public/icon/menu/microphone.svg
  src/frontend/public/icon/menu/minus-user.svg
  src/frontend/public/icon/menu/settings.svg
  src/frontend/public/icon/menu/sound-muted.svg
  src/frontend/public/icon/menu/sound.svg
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/loading-icon/index.tsx
  src/frontend/src/components/loading-icon/loading-icon.stories.tsx
  src/frontend/src/constants/status.ts
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/profile-card.stories.tsx
  src/frontend/src/layouts/main-layout/components/profile-status-button/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/routes.ts
Labels: frontend, feat

#145 [BE] gateway서버 메인으로 병합
  .github/workflows/apigateway-server-ci.yml
  src/backend/apigateway-server/Dockerfile
  src/backend/common-module/build.gradle
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/global/response/code/error/ErrorStatus.java
Labels: backend

#153 [BE] 채팅 서버 메인으로 병합
  .github/workflows/chat-server-ci.yml
  src/backend/chat-server/DockerFile
  src/backend/chat-server/Dockerfile
  src/backend/chat-server/build.gradle
  src/backend/chat-server/settings.gradle
Labels: backend

#155 [BE] eureka 코드를 작성합니다. #154
  src/backend/auth-server/.env.sample
  src/backend/auth-server/main.ts
  src/backend/auth-server/package.json
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/libs/eureka.ts
Labels: backend, chore

#156 [FE] 모달 및 포탈 로직을 추가하였습니다.
  src/frontend/.storybook/preview-head.html
  src/frontend/index.html
  src/frontend/src/components/modal/index.tsx
  src/frontend/src/components/modal/modal.stories.tsx
  src/frontend/src/components/portal/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/profile-card.stories.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/tailwind.config.ts
Labels: frontend, feat

#157 [FE] 설정 모달 화면구현 #121
  src/frontend/src/components/close-button/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/menu-item.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/alarm-setting.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-account.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
  src/frontend/src/layouts/main-layout/index.tsx
Labels: frontend, feat

#158 [FE] 채팅 관리 화면 구현 #148
  src/frontend/public/icon/channel/delete.svg
  src/frontend/public/icon/channel/invite.svg
  src/frontend/public/icon/channel/setting.svg
  src/frontend/public/icon/channel/threads.svg
  src/frontend/public/icon/channel/type-text.svg
  src/frontend/public/icon/channel/type-voice.svg
  src/frontend/public/icon/chat/emoji.svg
  src/frontend/public/icon/chat/gif.svg
  src/frontend/public/icon/chat/gift.svg
  src/frontend/public/icon/chat/plus.svg
  src/frontend/public/icon/chat/send.svg
  src/frontend/public/icon/chat/sticker.svg
  src/frontend/src/components/close-button/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/authority-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/general-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/invite-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/link-up-setting.tsx
  src/frontend/src/pages/channel/index.tsx
Labels: frontend, feat

#162 [FE] vitest, vite 버전을 변경합니다. #161
  src/frontend/package.json
  src/frontend/yarn.lock
Labels: frontend, chore

#163 [FE] 프론트엔드 메인으로 병합
  src/frontend/.storybook/preview-head.html
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/public/icon/channel/delete.svg
  src/frontend/public/icon/channel/invite.svg
  src/frontend/public/icon/channel/setting.svg
  src/frontend/public/icon/channel/threads.svg
  src/frontend/public/icon/channel/type-text.svg
  src/frontend/public/icon/channel/type-voice.svg
  src/frontend/public/icon/chat/emoji.svg
  src/frontend/public/icon/chat/gif.svg
  src/frontend/public/icon/chat/gift.svg
  src/frontend/public/icon/chat/plus.svg
  src/frontend/public/icon/chat/send.svg
  src/frontend/public/icon/chat/sticker.svg
  src/frontend/src/components/close-button/index.tsx
  src/frontend/src/components/modal/index.tsx
  src/frontend/src/components/modal/modal.stories.tsx
  src/frontend/src/components/portal/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/menu-item.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/profile-card.stories.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/alarm-setting.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-account.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/authority-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/general-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/invite-setting.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/link-up-setting.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/tailwind.config.ts
  src/frontend/yarn.lock
Labels: frontend

#166 [Android] 음성,채널 채팅 화면 참가 화면 구현 #113
  src/android/bbebig-discod-clone/gradle/libs.versions.toml
  src/android/bbebig-discod-clone/presentation/build.gradle.kts
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordParticipantContainer.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/ModifierExt.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_invite_user.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat

#178 [FE] 세팅화면 퍼블리싱 구현
  src/frontend/public/image/setting/camera.svg
  src/frontend/src/components/custom-button/index.tsx
  src/frontend/src/components/date-input/index.tsx
  src/frontend/src/components/select-box/index.tsx
  src/frontend/src/components/select-box/select-box.stories.tsx
  src/frontend/src/components/slider/index.tsx
  src/frontend/src/components/slider/slider.stories.tsx
  src/frontend/src/components/slider/style.module.css
  src/frontend/src/constants/keys.ts
  src/frontend/src/hooks/use-click-outside.ts
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
Labels: frontend, feat

#179 [FE] 친구 페이지 퍼블리싱 #159
  src/frontend/public/icon/dm/friend.svg
  src/frontend/public/icon/dm/nitro.svg
  src/frontend/public/icon/dm/shop.svg
  src/frontend/public/icon/friend/accept.svg
  src/frontend/public/icon/friend/dm.svg
  src/frontend/public/icon/friend/more.svg
  src/frontend/public/icon/friend/reject.svg
  src/frontend/src/components/date-input/date-input.stories.tsx
  src/frontend/src/components/menu-button/index.tsx
  src/frontend/src/components/menu-button/menu-button.stories.tsx
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/components/user-list-item/user-list-item.stories.tsx
  src/frontend/src/layouts/dm-layout/components/dm-side-bar/index.tsx
  src/frontend/src/layouts/dm-layout/components/menu/friend.tsx
  src/frontend/src/layouts/dm-layout/components/menu/nitro.tsx
  src/frontend/src/layouts/dm-layout/components/menu/shop.tsx
  src/frontend/src/pages/dm/components/add-friends.tsx
  src/frontend/src/pages/dm/components/all-friends.tsx
  src/frontend/src/pages/dm/components/blocked-friends.tsx
  src/frontend/src/pages/dm/components/header.tsx
  src/frontend/src/pages/dm/components/online-friends.tsx
  src/frontend/src/pages/dm/components/pending-friends.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/routes.ts
  src/frontend/src/types/friend.ts
Labels: frontend, feat

#182 [BE] Service Server 메인으로 병합
  .github/workflows/service-server-ci.yml
  src/backend/service-server/Dockerfile
  src/backend/service-server/build.gradle
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/config/SwaggerConfig.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/utils/UtilsController.java
  src/backend/service-server/src/main/resources/application.yml
Labels: backend

#185 [BE] member 테이블 최신화 반영 #184
  src/backend/auth-server/docs/databases.md
  src/backend/auth-server/package.json
  src/backend/auth-server/prisma/schema.prisma
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
Labels: backend, chore

#188 [BE] 인증서버 토큰 발급 및 검증 오류 수정
  src/backend/auth-server/main.ts
  src/backend/auth-server/src/controllers/auth/index.ts
  src/backend/auth-server/src/libs/authHelper.ts
  src/backend/auth-server/src/libs/constants.ts
  src/backend/auth-server/src/plugin/authPlugin.ts
  src/backend/auth-server/src/routes/auth/index.ts
  src/backend/auth-server/src/schema/authSchema.ts
  src/backend/auth-server/src/schema/commonSchema.ts
  src/backend/auth-server/src/service/authService.ts
Labels: fix, backend

#181 [FE] WebSocket 설정 세팅
  src/frontend/package.json
  src/frontend/src/apis/config/stomp-client.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/hooks/use-web-socket.ts
  src/frontend/src/pages/dm/components/online-friends.tsx
  src/frontend/src/stores/use-web-socket-store.ts
  src/frontend/yarn.lock
Labels: frontend, chore

#186 [FE] 사용자 기기 연결 기능 추가 #160
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/date-input/index.tsx
  src/frontend/src/components/select-box/index.tsx
  src/frontend/src/components/select-box/select-box.stories.tsx
  src/frontend/src/components/volume-slider/index.tsx
  src/frontend/src/components/volume-slider/style.module.css
  src/frontend/src/components/volume-slider/volume-slider.stories.tsx
  src/frontend/src/constants/keys.ts
  src/frontend/src/hooks/use-get-media-devices.ts
  src/frontend/src/hooks/use-media-control.ts
  src/frontend/src/layouts/main-layout/components/profile-status-button/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/stores/use-login-store.ts
  src/frontend/src/stores/use-media-setting.store.ts
  src/frontend/src/types/media.ts
Labels: frontend, feat

#197 [FE] 채널 유저 온/오프라인 리스트
  src/frontend/public/icon/channel/type-group-enable.svg
  src/frontend/public/icon/channel/type-group.svg
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/status-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/stores/use-status-bar-store.ts
Labels: frontend, feat

#195 [BE] Service Server Server API 구현 #193
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/controller/ChannelChatController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/controller/ChannelEventController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/controller/DmChatController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/handler/StompHandler.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/service/KafkaProducerService.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/global/response/code/error/ErrorStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/config/KafkaProducerConfig.java
  src/backend/search-server/src/main/resources/application.yml
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/category/repository/CategoryRepository.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/category/service/CategoryService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/repository/ChannelMemberRepository.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/repository/ChannelRepository.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/service/ChannelService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/config/ServiceServerConfig.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/kafka/KafkaProducerService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/controller/ServerController.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerParticipateRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerParticipateResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerWithdrawResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/repository/ServerMemberRepository.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
  src/backend/service-server/src/main/resources/application.yml
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/KafkaProducerService.java
Labels: backend, feat

#205 [FE] 음성 화면 페이지 퍼블리싱을 완료합니다. #196
  src/frontend/package.json
  src/frontend/public/icon/channel/microphone-muted.svg
  src/frontend/public/icon/channel/sound-muted.svg
  src/frontend/public/icon/channel/volume.svg
  src/frontend/public/image/common/default-background.png
  src/frontend/src/components/avatar-card/avatar-card.stories.tsx
  src/frontend/src/components/avatar-card/index.tsx
  src/frontend/src/components/custom-button/index.tsx
  src/frontend/src/pages/channel/components/chat-area.tsx
  src/frontend/src/pages/channel/components/text.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/yarn.lock
Labels: frontend, feat

#206 [FE] 유저 프로필 모달 구현 #198
  src/frontend/public/icon/channel/invite.svg
  src/frontend/public/icon/channel/type-friend.svg
  src/frontend/public/icon/channel/type-pending.svg
  src/frontend/src/layouts/dm-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/index.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/user-profile-card.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/dm/components/header.tsx
Labels: frontend, feat

#209 [FE] 프론트엔드 환경 배포 #208
  src/frontend/react-router.config.ts
Labels: ci, cd

#211 [FE] 친구 목록 구현 #207
  src/frontend/index.html
  src/frontend/public/icon/friend/accept.svg
  src/frontend/public/icon/friend/close.svg
  src/frontend/public/icon/friend/search.svg
  src/frontend/src/components/search-input/index.tsx
  src/frontend/src/components/search-input/search-input.stories.tsx
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/pages/dm/components/all-friends.tsx
  src/frontend/src/pages/dm/components/blocked-friends.tsx
  src/frontend/src/pages/dm/components/header.tsx
  src/frontend/src/pages/dm/components/online-friends.tsx
  src/frontend/src/pages/dm/components/pending-friends.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/types/friend.ts
  src/frontend/vite.config.ts
Labels: frontend, feat

#221 [FE] 인증 서버를 연동합니다. #219
  src/frontend/.env.sample
  src/frontend/package.json
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/schema/auth.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/date-input/index.tsx
  src/frontend/src/constants/base-port.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/pages/auth/login.tsx
  src/frontend/src/pages/auth/register.tsx
  src/frontend/yarn.lock
Labels: frontend, feat

#224 [FE] 공용 커스텀 컴포넌트 구현 및 생성 화면 퍼블리싱 진행 #220
  src/frontend/src/components/custom-modal/custom-modal.stories.tsx
  src/frontend/src/components/custom-modal/index.tsx
  src/frontend/src/components/custom-radio/custom-radio.stories.tsx
  src/frontend/src/components/custom-radio/index.tsx
  src/frontend/src/layouts/main-layout/components/server-create-modal/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/channel-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/index.tsx
  src/frontend/tailwind.config.ts
Labels: frontend, feat

#226 [BE] db 설정을 변경합니다. #225
  src/backend/auth-server/prisma/schema.prisma
Labels: backend, chore

#231 [FE] 개인 DM 화면 구현 및 헤더 컴포넌트 분리 #212
  src/frontend/public/icon/dm/call.svg
  src/frontend/public/icon/dm/video.svg
  src/frontend/public/image/channel/type-text.svg
  src/frontend/public/image/channel/type-voice.svg
  src/frontend/public/image/chat/emoji.svg
  src/frontend/public/image/chat/gif.svg
  src/frontend/public/image/chat/gift.svg
  src/frontend/public/image/chat/plus.svg
  src/frontend/public/image/chat/send.svg
  src/frontend/public/image/chat/sticker.svg
  src/frontend/src/components/common-header/index.tsx
  src/frontend/src/components/header-tool-bar/header-tool-bar.stories.tsx
  src/frontend/src/components/header-tool-bar/index.tsx
  src/frontend/src/components/search-input/search-input.stories.tsx
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/layouts/dm-layout/components/dm-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/status-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/user-profile-card.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/channel/components/chat-area.tsx
  src/frontend/src/pages/dm/components/dm-area-header.tsx
  src/frontend/src/pages/dm/components/dm-area.tsx
  src/frontend/src/pages/dm/components/dm-header.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/pages/friend/components/add-friends.tsx
  src/frontend/src/pages/friend/components/all-friends.tsx
  src/frontend/src/pages/friend/components/friend-header.tsx
  src/frontend/src/pages/friend/components/online-friends.tsx
  src/frontend/src/pages/friend/components/pending-friends.tsx
  src/frontend/src/pages/friend/index.tsx
  src/frontend/src/routes.ts
Labels: frontend, feat

#236 [FE] Stomp 파일 임시 분리 및 WebRTC 코드 작성
  src/frontend/.env.sample
  src/frontend/public/icon/channel/voice.svg
  src/frontend/src/apis/config/stomp-client.ts
  src/frontend/src/apis/config/stomp-instance.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/hooks/store/use-chatting-stomp.ts
  src/frontend/src/hooks/store/use-signaling-stomp.ts
  src/frontend/src/hooks/store/use-user-status.ts
  src/frontend/src/hooks/use-media-control.ts
  src/frontend/src/hooks/use-web-socket.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/stores/use-chatting-stomp-store.ts
  src/frontend/src/stores/use-signaling-stomp-store.ts
  src/frontend/src/stores/use-user-status-store.ts
  src/frontend/src/stores/use-web-socket-store.ts
  src/frontend/src/types/stomp.ts
  src/frontend/tailwind.config.ts
Labels: frontend, feat

#244 [FE] 서비스 서버 api 연결 및 화면 구현 #220
  src/frontend/.env.sample
  src/frontend/eslint.config.js
  src/frontend/package.json
  src/frontend/public/video/loading/spinner.mp4
  src/frontend/public/video/loading/spinner.png
  src/frontend/public/video/loading/spinner.webm
  src/frontend/src/apis/config/axios-helper.ts
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/schema/types/common.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/components/date-input/date-input.stories.tsx
  src/frontend/src/components/loading-modal/index.tsx
  src/frontend/src/components/loading-modal/loading-modal.stories.tsx
  src/frontend/src/components/menu-button/menu-button.stories.tsx
  src/frontend/src/components/modal/index.tsx
  src/frontend/src/components/portal/index.tsx
  src/frontend/src/components/select-box/select-box.stories.tsx
  src/frontend/src/constants/env.ts
  src/frontend/src/hooks/use-media-control.ts
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/category-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/status-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/libs/query-client.ts
  src/frontend/src/pages/auth/login.tsx
  src/frontend/src/types/channel.ts
  src/frontend/src/types/route.ts
  src/frontend/src/types/server.ts
  src/frontend/src/utils/cookie.ts
  src/frontend/tailwind.config.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#246 [BE] 서비스 서버 메인으로 병합
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerReadResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
Labels: backend

#248 [BE] Apigateway 서버 메인으로 병합
  src/backend/apigateway-server/build.gradle
  src/backend/apigateway-server/settings.gradle
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/ApigatewayServerApplication.java
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/dto/JwtValidateResponse.java
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/dto/PassportResponseDto.java
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/filter/PassportAuthLevel.java
  src/backend/apigateway-server/src/main/java/com/bbebig/apigatewayserver/filter/PassportFilter.java
  src/backend/apigateway-server/src/main/resources/application.yml
  src/backend/common-module/build.gradle
Labels: backend

#249 [BE] 서비스 서버 메인으로 병합
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/passport/PassportValidator.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/passport/config/WebMvcConfig.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/passport/resolver/PassportArgumentResolver.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/ServiceServerApplication.java
Labels: backend

#250 [BE] 시그널링 서버 메인으로 병합
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/global/response/code/error/ErrorStatus.java
  src/backend/signaling-server/build.gradle
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/SignalingServerApplication.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/ApiResponse.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/BaseErrorCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/error/ErrorStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/BaseCode.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/ReasonDTO.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/code/success/SuccessStatus.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/BaseExceptionType.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ErrorHandler.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/ExceptionAdvice.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/global/response/exception/GeneralException.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/direct/DirectSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/ChannelManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/KurentoManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/MeshGroupSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/SfuGroupSignalService.java
  src/backend/signaling-server/src/main/resources/.env
  src/backend/signaling-server/src/main/resources/application.properties
  src/backend/signaling-server/src/main/resources/application.yml
Labels: backend

#253 [BE] 서비스 서버 메인으로 병합
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/controller/ServerController.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/response/ServerReadResponseDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
Labels: backend

#254 [BE] 유저 서버 카프카 이벤트 발행 기능 구현 및 변경사항 수정
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/clientDto/userServer/CommonUserServerResponseDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/MemberEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/FriendActionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/FriendRequestEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerMemberActionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/redis/util/MemberRedisKeys.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/dto/request/ServerParticipateRequestDto.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/entity/ServerMember.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/client/MemberClient.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/controller/StateController.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ChannelEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ConnectionEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ServerEventConsumerService.java
  src/backend/user-server/build.gradle
  src/backend/user-server/src/main/java/com/bbebig/userserver/friend/dto/response/FriendListResponseDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/friend/service/FriendService.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/global/config/UserServerConfig.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/global/kafka/PresenceEventConsumerService.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/controller/MemberController.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/dto/request/MemberPresenceUpdateRequestDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/dto/request/MemberUpdateRequestDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/dto/response/MemberPresenceUpdateResponseDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/dto/response/MemberReadResponseDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/dto/response/MemberUpdateResponseDto.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/entity/Member.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/repository/MemberRedisRepositoryImpl.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/service/KafkaProducerService.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/service/MemberService.java
  src/backend/user-server/src/main/resources/application.yml
Labels: backend, feat

#260 [FE] 카테고리 생성 및 채널 생성 api 연결 #220
  src/frontend/src/apis/config/axios-helper.ts
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/schema/server.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/server-icon/index.tsx
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/components/user-list-item/user-list-item.stories.tsx
  src/frontend/src/constants/base-port.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/category-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/channel-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/status-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/index.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/user-profile-card.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/stores/use-login-store.ts
  src/frontend/src/types/index.d.ts
  src/frontend/src/types/route.ts
  src/frontend/src/types/server.ts
  src/frontend/src/types/user.ts
  src/frontend/tsconfig.json
Labels: frontend, feat

#263 [FE] Sentry를 이용한 에러 로깅을 추가하였습니다. #262
  src/frontend/.env.sample
  src/frontend/.gitignore
  src/frontend/package.json
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/pages/auth/register.tsx
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, chore

#272 [Android] 로그인 기능 구현 #259
  src/android/bbebig-discod-clone/data/build.gradle.kts
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/api/AuthApiService.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/AuthDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/AuthDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/LocalDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/LocalDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/DataSourceModule.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/NetworkModule.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/LoginDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/LoginInfoDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/AuthRepository.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/AuthRepositoryImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/request/LoginRequest.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/LoginResponse.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/LoginDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/LoginInfoDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/param/LoginParam.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/GetAccessTokenUseCase.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/GetRefreshTokenUseCase.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/LoadLoginInfoUseCase.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/LoginUseCase.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/SaveLoginInfoUseCase.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/SaveTokenUseCase.kt
  src/android/bbebig-discod-clone/gradle/libs.versions.toml
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordLoadingCircular.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/model/UserAccount.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/mvi/LoginSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/mvi/LoginUiState.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/navigation/LoginRoute.kt
Labels: android, feat

#277 [FE] 채널, 카테고리 api 연결 #264
  src/frontend/src/apis/config/axios-helper.ts
  src/frontend/src/apis/config/axios-instance.ts
  src/frontend/src/apis/config/interceptor.ts
  src/frontend/src/apis/schema/server.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/apis/service/user.ts
  src/frontend/src/components/avatar/avatar.stories.tsx
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/status-icon/index.tsx
  src/frontend/src/components/status-icon/status-icon.stories.tsx
  src/frontend/src/constants/error.ts
  src/frontend/src/constants/status.ts
  src/frontend/src/hooks/queries/server/useCreateCategory.ts
  src/frontend/src/hooks/queries/server/useCreateChannel.ts
  src/frontend/src/hooks/queries/server/useCreateServer.ts
  src/frontend/src/hooks/queries/server/useGetServer.ts
  src/frontend/src/hooks/queries/server/useGetServerInfo.ts
  src/frontend/src/hooks/queries/server/useGetServerMember.ts
  src/frontend/src/hooks/queries/user/useGetSelfUser.ts
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/server-create-modal/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/auth/register.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/types/friend.ts
  src/frontend/src/types/server.ts
  src/frontend/src/types/user.ts
Labels: frontend, refactor, feat

#292 [BE] 전체 공통 모듈의 Kafka Event Dto 형식 수정
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/controller/ChannelEventController.java
  src/backend/chat-server/src/main/java/com/bbebig/chatserver/domain/chat/handler/StompHandler.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/ChannelEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/ChatMessageDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/ConnectionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/MemberEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/PresenceEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/model/ChannelEventType.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/model/ConnectionEventType.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/model/MemberEventType.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/model/MessageEventType.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/FriendActionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/FriendPresenceEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/FriendRequestEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/NotificationEventType.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/notification/status/FriendActionStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerActionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerCategoryEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerChannelEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerMemberActionEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/ServerMemberPresenceEventDto.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/status/ServerActionStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/status/ServerCategoryStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/status/ServerChannelStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/dto/serverEvent/status/ServerMemberActionStatus.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/kafka/util/NotificationEventDeserializer.java
  src/backend/common-module/src/main/java/com/bbebig/commonmodule/redis/config/RedisConfig.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/service/MessageEventConsumerService.java
  src/backend/search-server/src/main/java/com/bbebig/searchserver/domain/search/service/ServerEventConsumerService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/category/service/CategoryService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/channel/service/ChannelService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/kafka/ChannelEventConsumerService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/global/kafka/MemberEventConsumerService.java
  src/backend/service-server/src/main/java/com/bbebig/serviceserver/server/service/ServerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ChannelEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ConnectionEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/MemberEventConsumerService.java
  src/backend/state-server/src/main/java/com/bbebig/stateserver/service/ServerEventConsumerService.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/friend/service/FriendService.java
  src/backend/user-server/src/main/java/com/bbebig/userserver/member/service/MemberService.java
Labels: backend, refactor

#294 [FE] 프로필 변경 화면을 구현합니다. #285
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/components/avatar/index.tsx
  src/frontend/src/components/server-icon/index.tsx
  src/frontend/src/components/status-icon/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-account.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
  src/frontend/src/layouts/server-layout/components/user-profile-card/index.tsx
  src/frontend/src/pages/channel/components/voice.tsx
Labels: frontend, feat

#295 [BE] 시그널링 서버 메인으로 병합
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/SignalingServerApplication.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/DirectSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/controller/GroupSignalController.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/Path.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/domain/SignalMessage.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/direct/DirectSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/ChannelManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/KurentoManager.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/MeshGroupSignalService.java
  src/backend/signaling-server/src/main/java/com/bbebig/signalingserver/service/group/strategy/SfuGroupSignalService.java
Labels: backend

#296 [Android] 서버 리스트를 받아오는 api 연결 #287
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/api/ServerApiService.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/DataSourceModule.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/NetworkModule.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/RepositoryModule.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/di/qulifier/NetworkQualifier.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/interceptor/AuthInterceptor.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/ServerDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepository.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepositoryImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ServerListResponse.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ServerResponse.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/ServerDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/GetServerListUseCase.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/model/Server.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/navigation/HomeRoute.kt
Labels: android, feat

#299 [FE] 전체 친구 목록 API 연동 및 DM창 이동 #298
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/apis/service/user.ts
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/hooks/queries/user/useGetFriendList.ts
  src/frontend/src/pages/dm/components/dm-area-header.tsx
  src/frontend/src/pages/dm/components/dm-area.tsx
  src/frontend/src/pages/dm/components/dm-header.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/pages/friend/components/all-friends.tsx
  src/frontend/src/types/friend.ts
Labels: frontend, feat

#301 [FE] 프론트엔드 netlify 배포 설정 #300
  src/frontend/.nvmrc
  src/frontend/.storybook/main.ts
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/react-router.config.ts
  src/frontend/src/components/user-list-item/index.tsx
  src/frontend/src/hooks/store/use-signaling-stomp.ts
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/layouts/dm-layout/index.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/layouts/server-layout/components/cateogry-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/auth/login.tsx
  src/frontend/src/pages/auth/register.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/pages/friend/index.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/root.tsx
  src/frontend/src/routes.ts
  src/frontend/src/routes.tsx
  src/frontend/src/types/index.d.ts
  src/frontend/storybook-with-vite.config.ts
  src/frontend/tsconfig.json
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: fix, frontend

#303 [FE] STOMP 연결, 서버 구독 이벤트
  src/frontend/public/icon/channel/type-chat.svg
  src/frontend/src/components/chat-area/index.tsx
  src/frontend/src/components/custom-radio/custom-radio.stories.tsx
  src/frontend/src/hooks/queries/channel/useGetChannelInfo.ts
  src/frontend/src/hooks/queries/user/useGetFriendPendingList.ts
  src/frontend/src/hooks/store/use-chatting-stomp.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/channel-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/setting-modal/index.tsx
  src/frontend/src/pages/channel/components/chat-area.tsx
  src/frontend/src/pages/channel/components/text.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/pages/friend/components/pending-friends.tsx
  src/frontend/src/stores/use-chatting-stomp-store.ts
  src/frontend/src/types/stomp.ts
Labels: frontend, feat

#305 [FE] 서버 구독 이벤트 타입 처리 #304
  src/frontend/src/hooks/store/use-chatting-stomp.ts
  src/frontend/src/types/ChatStompEvent.ts
  src/frontend/src/types/stomp.ts
Labels: frontend, feat

#307 [FE] 미디어 정보를 관리하는 로직 수정 #210
  src/frontend/src/hooks/use-get-media-devices.ts
  src/frontend/src/hooks/use-media-control.ts
  src/frontend/src/layouts/main-layout/components/setting-modal/alarm-setting.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-account.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/my-profile.tsx
  src/frontend/src/layouts/main-layout/components/setting-modal/voice-setting.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/libs/query-client.ts
  src/frontend/src/stores/use-media-setting.store.ts
Labels: fix, frontend, chore

#326 [Android] 서버 정보 api 연결 #286
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/api/ServerApiService.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/CategoryInfoDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/ChannelInfoDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/ServerInfoDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepository.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepositoryImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/CategoryInfoResponse.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ChannelInfoResponse.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ServerInfoResponse.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/CategoryInfoDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/ChannelInfoDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/ServerInfoDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/GetServerInfoUseCase.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/model/CategoryInfo.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/model/ChannelInfo.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/model/ServerInfo.kt
Labels: android, feat

#327 [Android] 서버 생성 api 연결 #289
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/api/ServerApiService.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/ServerCreateDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepository.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepositoryImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/request/ServerCreateRequest.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ServerCreateResponse.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/ServerCreateDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/param/ServerCreateParam.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/CreateServerUseCase.kt
Labels: android, feat

#328 [Android] 서버 참여 api 연결 #290
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/api/ServerApiService.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSource.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/datasource/ServerDataSourceImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/model/ServerJoinDataModel.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepository.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/repository/ServerRepositoryImpl.kt
  src/android/bbebig-discod-clone/data/src/main/java/com/smilegate/bbebig/data/response/ServerJoinResponse.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/model/ServerJoinDomainModel.kt
  src/android/bbebig-discod-clone/domain/src/main/java/com/smilegate/bbebig/domain/usecase/JoinServerUseCase.kt
Labels: android, feat

#335 [FE] webRTC 로직을 추가합니다. #210
  src/frontend/package.json
  src/frontend/src/apis/config/stomp-instance.ts
  src/frontend/src/hooks/store/use-signaling-stomp.ts
  src/frontend/src/hooks/store/use-signaling-with-sfu.ts
  src/frontend/src/layouts/main-layout/components/setting-modal/index.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/main.tsx
  src/frontend/src/pages/channel/components/video-card.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/stores/use-signaling-stomp-store.ts
  src/frontend/src/types/stomp.ts
  src/frontend/src/utils/webrtc-helper.ts
  src/frontend/vite.config.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#342 [FE] asset 변경 및 msw를 이용한 mock 서버를 구축하였습니다. #340
  src/frontend/index.html
  src/frontend/package.json
  src/frontend/public/favicon.ico
  src/frontend/public/icon/brand/brand_logo.svg
  src/frontend/public/icon/brand/icon_logo.svg
  src/frontend/public/mockServiceWorker.js
  src/frontend/public/vite.svg
  src/frontend/src/__mock__/data/auth.mock.ts
  src/frontend/src/__mock__/handlers/auth.handler.ts
  src/frontend/src/__mock__/worker.ts
  src/frontend/src/apis/config/interceptor.ts
  src/frontend/src/apis/schema/types/auth.ts
  src/frontend/src/apis/schema/types/common.ts
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/constants/discord-assets-path.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/layouts/root-layout.tsx
  src/frontend/src/libs/msw.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/pages/landing/index.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/stores/use-login-store.ts
  src/frontend/yarn.lock
Labels: frontend, refactor

#355 [FE] 채널 채팅 기능 구현 #331
  src/frontend/package.json
  src/frontend/src/apis/schema/types/search.ts
  src/frontend/src/apis/service/search.ts
  src/frontend/src/components/chat-area/index.tsx
  src/frontend/src/hooks/queries/search/useGetHistoryChattingMessages.ts
  src/frontend/src/hooks/store/use-chat-store.ts
  src/frontend/src/hooks/store/use-chatting-stomp.ts
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/channel/components/text.tsx
  src/frontend/src/pages/channel/components/voice.tsx
  src/frontend/src/pages/channel/index.tsx
  src/frontend/src/pages/dm/index.tsx
  src/frontend/src/types/ChatStompEvent.ts
  src/frontend/src/types/chat-stomp-event.ts
  src/frontend/src/types/message.ts
  src/frontend/src/utils/format-time.ts
  src/frontend/src/utils/server-event-handler.ts
  src/frontend/yarn.lock
Labels: frontend, feat

#357 [Android] 자동 로그인 기능 구현 #353
  src/android/bbebig-discod-clone/app/src/main/res/values/themes.xml
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/DiscordNavHost.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/DiscordRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/theme/Color.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/navigation/HomeNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/main/MainActivity.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/SplashScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/SplashViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/mvi/SplashIntent.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/mvi/SplashSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/mvi/SplashUiState.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/navigation/SplashNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/splash/navigation/SplashRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_brand_label.xml
  src/android/bbebig-discod-clone/presentation/src/main/res/drawable/ic_logo.xml
Labels: android, feat

#359 [FE] Store 제거 및 Suspense 컴포넌트 분리 #341
  src/frontend/src/apis/service/auth.ts
  src/frontend/src/components/skeleton/index.tsx
  src/frontend/src/components/skeleton/skeleton.stories.tsx
  src/frontend/src/hooks/queries/auth/useLoginMutation.ts
  src/frontend/src/hooks/queries/auth/useLogoutMutation.ts
  src/frontend/src/hooks/queries/auth/useStatusCheckMutation.ts
  src/frontend/src/layouts/auth.tsx
  src/frontend/src/layouts/main-layout/components/profile-card/index.tsx
  src/frontend/src/layouts/main-layout/components/server-list/index.tsx
  src/frontend/src/layouts/main-layout/components/server-list/server-list-skeleton.tsx
  src/frontend/src/layouts/main-layout/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar-skeleton.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/server-side-bar.stories.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/auth/login.tsx
  src/frontend/src/pages/landing/components/header.tsx
  src/frontend/src/routes.tsx
  src/frontend/src/stores/use-login-store.ts
Labels: frontend, refactor

#362 [Android] 클릭 이벤트 연결 #358
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/navigation/home/HomeNavGraph.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/channelchat/ChannelChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/mvi/HomeIntent.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/mvi/HomeSideEffect.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/navigation/HomeNavigation.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/navigation/HomeRoute.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/utils/ModifierExt.kt
Labels: android, feat

#372 [FE] 서버 초대 기능, 친구 추가 기능을 구현합니다. #366
  src/frontend/src/apis/config/interceptor.ts
  src/frontend/src/apis/schema/service.ts
  src/frontend/src/apis/schema/types/service.ts
  src/frontend/src/apis/schema/types/user.ts
  src/frontend/src/apis/schema/user.ts
  src/frontend/src/apis/service/common.ts
  src/frontend/src/apis/service/service.ts
  src/frontend/src/apis/service/user.ts
  src/frontend/src/constants/env.ts
  src/frontend/src/hooks/queries/user/useCreateFriendRequestWithName.ts
  src/frontend/src/hooks/queries/user/useServerInviteUser.ts
  src/frontend/src/layouts/server-layout/components/server-side-bar/InviteModal.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/cateogry-create-modal/category-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/cateogry-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/channel-create-modal/channel-create-modal.stories.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/channel-create-modal/index.tsx
  src/frontend/src/layouts/server-layout/components/server-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/layouts/server-layout/components/status-side-bar/user-profile-card.tsx
  src/frontend/src/layouts/server-layout/index.tsx
  src/frontend/src/pages/friend/components/connect-friend-with-name-modal.tsx
  src/frontend/src/pages/friend/components/friend-header.tsx
Labels: frontend, feat

#375 [FE] 유저 상태 동기화 문제 해결을 위해 서버 상태로 전환합니다. #374
  src/frontend/src/components/chat-area/index.tsx
  src/frontend/src/hooks/use-chatting-stomp.ts
  src/frontend/src/hooks/use-handler-server-event.ts
  src/frontend/src/layouts/server-layout/components/status-side-bar/index.tsx
  src/frontend/src/stores/use-chatting-stomp.ts
  src/frontend/src/stores/use-status-store.ts
  src/frontend/src/utils/server-event-handler.ts
Labels: frontend, refactor

#380 [Android] 디자인 적용 #379
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordTitleContainer.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/component/DiscordUserChatBox.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/theme/Color.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/channelchat/ChannelChatScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/createserver/CreateServerScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/home/HomeViewModel.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/intro/IntroScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/login/LoginScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/serverjoin/ServerJoinScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/account/InputAccountScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/age/InputAgeScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/email/InputEmailScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/java/com/smilegate/bbebig/presentation/ui/signup/nickname/InputNicknameScreen.kt
  src/android/bbebig-discod-clone/presentation/src/main/res/values/strings.xml
Labels: android, feat
